<html>
    <head>
<link rel = "stylesheet" type="text/css" href = "style_login_in.css">

    </head>
    <body>
        <div class="container">
            <h1 class="login-message">Hello, this is a login page.</h1>
            <a class="login-link" href='/auth/facebook'>Login through Facebook</a>
        </div>
    </body>
</html>